ul.spot-list {

    width: 100%;

    list-style: none;

    display: grid;

    grid-template-columns: 1fr 1fr ;

    grid-gap: 20px;

    margin-bottom: 30px;

}

ul.spot-list li {

    display: flex;

    flex-direction: column;

}

ul.spot-list li header {

    width: 100%;

    height: 120px;

    background-size: cover;

    border-radius: 10px;

}

ul.spot-list li strong {

    margin-top: 10px;

    font-size: 24px;

    color: #444444;

}

ul.spot-list li span {

    font-size: 16px;
    
    color: #E14F50;

    margin-top: 5px;

}

ul.notifications {

    list-style: none;

    margin-bottom: 30px;

    background-color: #DDDDDD;

    border-radius: 15px;

    padding: 20px;

}

ul.notifications li {

    font-size: 16px;

    line-height: 24px;

    color: #444444;

}

ul.notifications li strong {

    color: #E14F50;

}

ul.notifications li button {

    margin-right: 10px;

    border: 0px;

    font-weight: bold;

    margin-top: 15px;

}

ul.notifications li button.accept {

    background-color: #84C870;

    padding: 10px;

    color: #FFFFFF;

    border-radius: 7px;

    transition: all 0.3s ease;

    cursor: pointer;

}

ul.notifications li button.reject {

    background-color: #E55E5E;

    padding: 10px;

    color: #FFFFFF;

    border-radius: 7px;

    transition: all 0.3s ease;

    cursor: pointer;

}

ul.notifications li button.accept:hover {

    background-color: #4ACA23;

}

ul.notifications li button.reject:hover {

    background-color: #DB3E3E;

}