label#thumbnail {
    margin-left: 0px;
    margin-bottom: 20px;
    border: 1px dashed #DDDDDD;
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;
    display: flex;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

label#thumbnail input {
    display: none;
}

label#thumbnail img {
    width: 60px;
}

label#thumbnail:hover {
    border: 1px dashed #444444;
}

label#thumbnail.has-thumbnail {
    border: 0px;
}

label#thumbnail.has-thumbnail img {
    display: none;
}